---
import { ProjectCards } from "@/components/home/project-cards";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Taylan Çetin" locale="en">
  <main class="space-y-8">
    <div class="space-y-8 w-[800px] max-w-[calc(100vw-4rem)] mx-auto">
      <h1 class="hidden">taylan çetin</h1>
      <div class="mb-8 sm:min-h-[250px]">
        <div class="mx-auto max-w-[750px] w-full sm:w-2/3">
          <img
            id="pixelart"
            src="/pixelartme.webp"
            class="w-full rounded-3xl overflow-hidden"
          />
          <div class="flex justify-end gap-4 mr-4">
            <a href="/tr" class="italic underline text-flexoki-blue-200">tr</a>
            <a href="/" class="italic underline text-flexoki-blue-200">en</a>
          </div>
        </div>
      </div>

      <h2 class="text-start text-xl italic font-bold bg-flexoki-blue-400 w-fit">
        some work from me
      </h2>
      <ul class="list-disc pl-6">
        <li>
          Co-founder and CTO of (3 distinguished fella)
          <a
            href="https://akord.agency"
            class="italic underline text-flexoki-blue-200">Akord Agency</a
          >
        </li>
        <li>
          Was Team Captain for Kel42 - an electric vehicle team - and
          Electronics Team Lead for KelRot FRC Team
        </li>
        <li>Bass Guitarist for Amorf</li>
        <li>
          Organized TedX Kabatas and managed some Entrepreneurship Education
          Conferences in school for fun
        </li>
      </ul>
    </div>
    <div class="mt-12 w-full">
      <h2
        class="text-3xl font-semibold italic sm:ml-4 my-4 bg-flexoki-blue-400 w-fit"
      >
        Projects / Web Pages
      </h2>
      <ProjectCards client:load />
    </div>
  </main>
</Layout>
