---
import "./global.css";
interface Props {
	title: string;
	locale: string;
}

const { title, locale } = Astro.props;
---

<!doctype html>
<html lang=`${locale}`>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/favicon.png" />
		<title>{title}</title>
	</head>
	<body class="bg-flexoki-black text-flexoki-paper">
		<slot />
	</body>
</html>
